@import "tailwindcss";

:root {
  /* Base */
  --color-bg-main: #FAF9F7;
  --color-bg-soft: #F2EFEA;
  --color-bg-card: #FFFFFF;
  --color-bg-hero: #FFFFFF;

  /* Green */
  --color-accent: #8FAF9B;
  --color-accent-soft: #C9DBCF;
  --color-accent-dark: #6F9580;

  /* Text */
  --color-text-main: #2F2F2F;
  --color-text-muted: #6B6B6B;
  --color-text-light: #FFFFFF;
  --color-text-hero: #022C22;

  /* UI details */
  --color-border: #E3E0DB;
  --color-icon: #7FA28C;
}

/* Тёмная тема */
[data-theme="dark"] {
  --color-bg-main: #121212;
  --color-bg-soft: #1B1B1B;
  --color-bg-card: #132b1c;
  --color-bg-hero: #1B1B1B;

  --color-accent: #8FAF9B;
  --color-accent-soft: #3A4B3F;
  --color-accent-dark: #132b1c;

  --color-text-main: #EDEDED;
  --color-text-muted: #AAAAAA;
  --color-text-light: #FFFFFF;
  --color-text-hero: #FFFFFF;

  --color-border: #333333;
  --color-icon: #7FA28C;
}

/* Optional: system theme fallback */
:root:not([data-theme]) {

  /* Если у пользователя тёмная тема в системе */
  @media (prefers-color-scheme: dark) {
    --color-bg-main: #121212;
    --color-bg-soft: #1B1B1B;
    --color-bg-card: #132b1c;
    --color-bg-hero: #1B1B1B;

    --color-accent: #8FAF9B;
    --color-accent-soft: #3A4B3F;
    --color-accent-dark: #132b1c;
  

    --color-text-main: #EDEDED;
    --color-text-muted: #AAAAAA;
    --color-text-light: #FFFFFF;
    --color-text-hero: #FFFFFF;

    --color-border: #333333;
    --color-icon: #7FA28C;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg-main);
  color: var(--color-text-main);
  font-family: Inter, sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {

  /* sm */
  .container {
    max-width: 640px;
    padding-left: 1.5rem;
    /* sm:px-6 */
    padding-right: 1.5rem;
  }
}

@media (min-width: 768px) {
  /* md */
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  /* lg */
  .container {
    max-width: 1024px;
    padding-left: 2rem;
    /* lg:px-8 */
    padding-right: 2rem;
  }
}

@media (min-width: 1280px) {

  /* xl */
  .container {
    max-width: 1280px;
    padding-left: 2.5rem;
    /* xl:px-10 */
    padding-right: 2.5rem;
  }
}

@media (min-width: 1536px) {

  /* 2xl */
  .container {
    max-width: 1536px;
    padding-left: 3rem;
    /* 2xl:px-12 */
    padding-right: 3rem;
  }
}

/* nav */
.link-underline {
  position: relative;
  color: var(--color-text-light);
  transition: color 0.3s ease;
}

.link-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 1px;
  width: 0;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.link-underline:hover::after {
  width: 100%;
}
/* line */
.bg-title-texture {
  background: linear-gradient(90deg,
      transparent,
      var(--color-accent-soft),
      transparent);
}

/* toggler */
.toggle {
  border-radius: 50%;
  display: grid;
  place-items: center;
  line-height: 1;
}

.icon {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

